<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold" ng-hide="longitud">Factura de Exportación</div>
    <div class="panel-body" ng-hide="longitud">
      <form action="" name="forma">
      <!-- 1a -->
        <div class="row">  
          <div class="col-sm-5 texto-negrilla">Potosí, {{factura.fecha}}</div>
          <div class="col-sm-5 texto-negrilla">Factura, {{factura.factura}}</div>
        </div> 
      <!-- 2a -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">NIT</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm" ng-model="factura.nit">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">COMPRADOR</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm" ng-model="factura.comprador">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">DIRECCION</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm" ng-model="factura.direccion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">PUERTO EN TRANSITO</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm" ng-model="factura.puertoTransito">
            </div>
          </div>
        </div>              
        <!-- 2a -->
        <div class="row">  
          <div class="col-sm-3 texto-negrilla">PUERTO DESTINO</div>
          <div class="col-sm-9">{{factura.puertoDestino}}</div>
        </div>   
        <!-- 2a -->
        <div class="row">  
          <div class="col-sm-3 texto-negrilla">PAIS DESTINO</div>
          <div class="col-sm-9">{{factura.paisDestino}}</div>
        </div>
        <!-- 2a -->
        <div class="row">  
          <div class="col-sm-3 texto-negrilla">CONCENTRADO A GRANEL DE</div>
          <div class="col-sm-9">{{factura.concentrado}}</div>
        </div> 
        <!-- 2a -->
        <div class="row">  
          <div class="col-sm-3 texto-negrilla">PARTIDA ARANCELARIA</div>
          <div class="col-sm-2">{{factura.partida1}}</div>
          <div class="col-sm-2">{{factura.partida2}}</div>
        </div>
        <!-- 2a -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label texto-negrilla">ORIGEN</label>
            <div class="col-sm-7">
                <input type="text" class="form-control input-sm" ng-model="factura.origen">
            </div>
          </div>
        </div>           
      
        <!-- 2a -->
        <div class="row">  
          <div class="col-sm-3 texto-negrilla">No LOTE</div>
          <div class="col-sm-9">{{factura.numeroLote}}</div>
        </div> 
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.pesoKilosNetosHumedosPeso | number:2}}</div>
          <div class="col-sm-1 text-right padding-right texto-negrilla">Mineral</div>
          <div class="col-sm-1 text-right padding-right texto-negrilla">Leyes</div>
          <div class="col-sm-2 text-right padding-right texto-negrilla">Finos</div>
          <div class="col-sm-2 text-right padding-right texto-negrilla">Cotizaciones</div>
        </div>
        <div class="row">
          <div class="col-sm-2 texto-negrilla">Humedad</div>
          <div class="col-sm-1 text-right padding-right">{{factura.pesoHumedadPesos | number:2}}</div>
          <div class="col-sm-2 text-right padding-right">{{factura.pesoHumedadPeso | number:2}}</div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-2 texto-negrilla">Merma</div>
          <div class="col-sm-1 text-right text-right padding-right">{{factura.pesoMermaPesos | number:2}}</div>
          <div class="col-sm-2 text-right text-right padding-right">{{factura.pesoMermaPeso | number:2}}</div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1 text-right text-right padding-right">{{factura.contenidoZnLeyes | number:2}}</div>
          <div class="col-sm-2 text-right text-right padding-right">{{factura.contenidoZnPesokg | number:2}}</div>
          <div class="col-sm-2 text-right">{{factura.baseZnCotizaciones | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.contenidoZnPesolf | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-2 texto-negrilla">Kilos Netos Secos</div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.pesoKilosNetosSecosPeso | number:2}}</div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1 text-right padding-right">{{factura.contenidoAgLeyes | number:2}}</div>
          <div class="col-sm-2 text-right padding-right">{{factura.contenidoAgPesokg | number:2}}</div>
          <div class="col-sm-2 text-right padding-right">{{factura.baseAgCotizaciones | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.contenidoAgPesoot | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-9"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.baseZnSus | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-9"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.baseAgSus | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 texto-negrilla">TOTAL VALOR OFICIAL EXPORTACION</div>
          <div class="col-sm-6"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.baseTotalSus | number:2}}</div>
        </div>   
        <div class="row">
          <div class="col-sm-9"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.basePromedioSus | number:2}}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 texto-negrilla">VALOR FOB NETO DE GASTOS DE REALIZACION</div>
          <div class="col-sm-5"></div>
          <div class="col-sm-2 text-right padding-right">{{factura.baseDiferenciaSus | number:2}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button class="btn m-b-xs btn-bg btn-primary btn-addon" ng-click="validar()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Validar
            </button>
            <button class="btn m-b-xs btn-bg btn-primary btn-addon" ng-click="grabar()" ng-disabled="forma.$invalid"><i class="fa fa-plus"></i>Guardar
            </button>
            <button class="btn m-b-xs btn-bg btn-danger btn-addon" ng-click="cancelar()"><i class="fa fa-trash-o"></i>Cancelar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-heading font-bold" ng-show="longitud">Factura de Exportación ya validada con Codigo de Control</div>
  </div>
</div>