<div ng-controller="ListCtrl">
  <input type="text" ng-model="search" class="search-query" placeholder="Search">
  <table class="table">
    <thead>
    <tr>
      <th>pesoHumedadPeso</th>
      <th>pesoMermaPeso</th>
      <th>pesoKilosNetosSecosPeso</th>
      <th><a href="#/new"><i class="fa fa-plus-square-o"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="plane in planilla | filter:search ">
      <td>{{plane.pesoHumedadPeso}}</td>
      <td>{{plane.pesoMermaPeso}}</td>
      <td>{{plane.pesoKilosNetosSecosPeso}}</td>
      <td>
        <a href="#/new/{{plane.id}}"><i class="fa fa-plus-square-o"></i></a>
        <a href="#/edit/{{plane.id}}"><i class="fa fa-pencil-square-o"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>