<div>
  <input type="text" ng-model="search" class="search-query" placeholder="Search">
  <table class="table">
    <thead>
    <tr>
      <th>Planilla</th>
      <th>ID</th>
      <th>Lote</th>
      <th>Kilos Netos Húmedos</th>
      <th>Fecha</th>
      <th>
        <a ui-sref="app.export.planillaZinc({tipoPlanilla:tipoPlanilla})">
          <i class="fa fa-plus-square-o"></i>
        </a>
      </th>
    </tr>
    
    </thead>
    <tbody>
    <tr ng-repeat="plane in planilla | filter:search ">
      <td>{{plane.planilla}}</td>
      <td>{{plane.id}}</td>
      <td>{{plane.pesoLoteFactores}}</td>
      <td>{{plane.pesoKilosNetosHumedosPeso}}</td>
      <td>{{plane.pesoKilosNetosSecosFactores}}</td>
      <td>
        <a ui-sref="app.export.planillaZincUno({planId:plane.id})">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  