<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">Planilla de Calculo de la RM de Zinc</div>
    <div class="panel-body">
      <form action="" name="forma">
      <!-- 0a -->
        <div class="row">
          <div class="col-sm-3 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Pesos</span>         
          </div>
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Peso</span>          
          </div>
          <div class="col-sm-4 panel-heading text-left bg-danger no-border">
            <span class="text-u-c m-b-none font-bold">Factores</span>          
          </div>
        </div>
      <!-- 1a -->
        <div class="row">  
          <div class="form-group">
            <label class="col-sm-3 control-label">Kilos Netos Húmedos</label>
            <div class="col-sm-2">
              <div class="input-group m-b" ng-class="{'has-error':forma.pesoKilosNetosHumedosPeso.$invalid && forna.pesoKilosNetosHumedosPeso.$dirty}" >
                <input type="text" class="form-control text-right input-sm" name="pesoKilosNetosHumedosPeso" ng-model="planilla.pesoKilosNetosHumedosPeso" 
                 required>
                <span class="input-group-addon">kg</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">1 kg</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="2.2046223" ng-model="planilla.pesoKilosNetosHumedosFactores">
                <span class="input-group-addon">lf</span>
              </div>
            </div>
          </div>
        </div> 
      <!-- 2a -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Humedad</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="9.18" ng-model="planilla.pesoHumedadPesos" required>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" 
                ng-value="calcular()" ng-model="planilla.pesoHumedadPeso">
                <span class="input-group-addon">kg</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">1 kg</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="32.15073" ng-model="planilla.pesoHumedadFactores">
                <span class="input-group-addon">ot</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 3a -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Merma</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="1.00" ng-model="planilla.pesoMermaPesos">
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.pesoMermaPeso">
                <span class="input-group-addon">kg</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">1 $us</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="6.96" ng-model="planilla.pesoMermaFactores">
                <span class="input-group-addon">ANB</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 4a -->
        <div class="row">  
          <div class="form-group">
            <label class="col-sm-3 control-label">Kilos Netos Secos</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.pesoKilosNetosSecosPeso">
                <span class="input-group-addon">kg</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">Fecha</label>
            <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="planilla.pesoKilosNetosSecosFactores" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>  </button>
                </span>
              </div>
            </div>
          </div>
        </div> 
      <!-- 5a -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-5">
            </div>
            <label class="col-sm-2 control-label">Lote</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="EXMSC-Z-2259-2007" ng-model="planilla.pesoLoteFactores" required>
                <span class="input-group-addon">No</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 0b -->
        <div class="row">
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Contenidos</span>          
          </div>
          <div class="col-sm-1 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Leyes</span>          
          </div>
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Peso</span>          
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;&nbsp;Lista Empaque</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="2791" ng-model="planilla.contenidoListaEmpaqueFactores" required>
                <span class="input-group-addon">No</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 1b -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Zn</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="52.55" ng-model="planilla.contenidoZnLeyes" required>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.contenidoZnPesokg">
                <span class="input-group-addon">kg</span>
              </div>
            </div>
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="6.96" ng-model="planilla.contenidoZnTipoDeCambioFactores">
                <span class="input-group-addon">Oficial</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 2b -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.contenidoZnPesolf">
                <span class="input-group-addon">lf</span>
              </div>
            </div>
            <div class="col-sm-2">        
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      <!-- 3b -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Ag</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="466.00" ng-model="planilla.contenidoAgLeyes" required>
                <span class="input-group-addon">gr/ton</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.contenidoAgPesokg">
                <span class="input-group-addon">kg</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">Flete Total</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="43.34" ng-model="planilla.contenidoAgFleteTotalFactores">
                <span class="input-group-addon">$us/ton</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 4b -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.contenidoAgPesoot">
                <span class="input-group-addon">ot</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">Interno (MSC-AV)</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="11.34" ng-model="planilla.contenidoAgInternoFactores" required>
                <span class="input-group-addon">$us/ton</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 5b -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
            </div>
            <label class="col-sm-2 control-label">Externo (AV-MEJ)</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="32.00" ng-model="planilla.contenidoAgExternoFactores">
                <span class="input-group-addon">$us/ton</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 0c -->
        <div class="row">
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Base Imponible</span>          
          </div>
          <div class="col-sm-1 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Cotizacion</span>          
          </div>
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="m-b-none font-bold">$us</span>          
          </div>
        </div>
      <!-- 1c -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Zn</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="0.95" ng-model="planilla.baseZnCotizaciones" required>
                <span class="input-group-addon">$us/lf</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.baseZnSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">No Contenedores</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="82" ng-model="planilla.baseZnContenedoresFactores" required>
                <span class="input-group-addon">mo3</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 2c -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Ag</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="19.05" ng-model="planilla.baseAgCotizaciones" required>
                <span class="input-group-addon">$us/ot</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.baseAgSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">Tara Total</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="168100.00" ng-model="planilla.baseAgTaraTotalFactores">
                <span class="input-group-addon">Tara</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 3c -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Total</label>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.baseTotalSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">Peso Bruto Humedo</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.baseTotalPesoBrutoFactores">
                <span class="input-group-addon">kg</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 4c -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.basePromedioSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      <!-- 5c -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.baseDiferenciaSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">No DUE</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="14062791" ng-model="planilla.baseDiferenciaDueFactores" required>
                <span class="input-group-addon">No</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 0d -->
        <div class="row">
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Impuestos</span>          
          </div>
          <div class="col-sm-1 panel-heading text-left bg-success no-border">
            <span class="text-u-c m-b-none font-bold">Alicuota</span>          
          </div>
          <div class="col-sm-2 panel-heading text-left bg-success no-border">
            <span class="m-b-none font-bold">$us</span>          
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;&nbsp;Nro. de Factura</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="000899" ng-model="planilla.impuestoFacturaFactores" required>
                <span class="input-group-addon">No</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 1d -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Zn</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="5.00" ng-model="planilla.impuestoZnAlicuota" required>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.impuestoZnSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <label class="col-sm-2 control-label">Valor Concentrado x kg</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="82" ng-model="planilla.impuestoZnValorConcentradoFactores" required>
                <span class="input-group-addon">$us</span>
              </div>
            </div>
          </div>
        </div>
      <!-- 2d -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Ag</label>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" placeholder="6.00" ng-model="planilla.impuestoAgAlicuota" required>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.impuestoAgSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      <!-- 3d -->
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label">Total</label>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.impuestoTotalSusSus">
                <span class="input-group-addon">$us</span>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      <!-- 4d -->
        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <div class="input-group m-b">
                <input type="text" class="form-control text-right input-sm" disabled="disabled" placeholder="calculo" ng-model="planilla.impuestoTotalBsSus">
                <span class="input-group-addon">Bs</span>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="grabar()" ng-disabled="forma.$invalid">Guardar Cambios</button>
          </div>
        </div>        
      </form>
    </div>
  </div>
</div>