<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table class="table">
  <thead>
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th><a href="#/new"><i class="fa fa-plus-square-o"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="planilla in planillas | filter:search | orderBy:orderProp">
    <td>{{planilla.id}}</td>
    <td>{{planilla.pesoMermaPesos}}</td>
    <td>{{planilla.pesoKilosNetosHumedosFactores}}</td>
    <td>
      <a href="#/new/{{planilla.id}}"><i class="fa fa-plus-square-o"></i></a>
      <a href="#/edit/{{planilla.id}}"><i class="fa fa-pencil-square-o"></i></a>
    </td>
  </tr>
  </tbody>
</table>
